*{
  font-family: "Trirong", serif !important;
  font-weight: bold !important;
}
.header {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

a {
  cursor: pointer;
  text-decoration: none !important;
  color: white !important;
}