body {
 background: linear-gradient(to right, rgba(9, 216, 81, 0.5), rgba(212, 80, 9, 0.1));
 
  margin: 0;
  font-family: "Trirong", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Trirong", serif;
}
